.u-section-1 .u-sheet-1 {
  min-height: 637px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 527px;
  background-image: url("images/sadegh_pic.jpg");
  background-position: 50% 28.3%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 264px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 435px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 218px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-image-1 {
    min-height: 666px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 232px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 416px;
}

.u-section-3 .u-text-1 {
  margin: 1px auto 0;
}

.u-section-3 .u-line-1 {
  width: 912px;
  margin: 23px auto 0 97px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 1px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 314px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 314px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 314px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-3 .u-line-1 {
    margin-left: 28px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 259px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 198px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 198px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 446px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 446px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 281px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 178px;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  margin: 69px auto 0;
}

.u-section-4 .u-line-1 {
  width: 912px;
  margin: 20px auto 46px 88px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 740px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 305px;
  background-image: url("images/fig1-021.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 305px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  margin-bottom: -8px;
  margin-top: 8px;
  height: 287px;
}

.u-section-5 .u-image-3 {
  min-height: 305px;
  background-image: url("images/figS1-04.jpg");
  background-position: 50% 0%;
  background-size: 110%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 656px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  width: 445px;
  margin: 34px auto 0;
}

.u-section-5 .u-text-2 {
  width: 445px;
  margin: 49px auto 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: none none solid;
  width: 107px;
  height: 24px;
  margin: 84px auto 0 60px;
  padding: 0;
}

.u-section-5 .u-image-4 {
  width: 260px;
  height: 102px;
  margin: 138px 0 -30px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-5 .u-image-1 {
    min-height: 251px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 251px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-2 {
    height: 237px;
  }

  .u-section-5 .u-image-3 {
    min-height: 251px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 541px;
    margin: 20px auto 0 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 60px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 60px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-5 .u-image-1 {
    min-height: 385px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-5 .u-image-2 {
    height: 363px;
  }

  .u-section-5 .u-image-3 {
    min-height: 385px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2321px;
  }

  .u-section-5 .u-image-1 {
    min-height: 578px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-5 .u-image-2 {
    height: 545px;
  }

  .u-section-5 .u-image-3 {
    min-height: 578px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-5 .u-image-1 {
    min-height: 364px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-5 .u-image-2 {
    height: 343px;
  }

  .u-section-5 .u-image-3 {
    min-height: 364px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 538px;
}

.u-section-6 .u-line-1 {
  width: 652px;
  transform-origin: right center 0px;
  margin: 14px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 418px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 418px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 562px;
  height: 192px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-image-2 {
  width: 273px;
  height: 198px;
  margin: 14px auto 0 8px;
}

.u-section-6 .u-image-3 {
  width: 255px;
  height: 198px;
  margin: -198px 8px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-6 .u-image-1 {
    width: 470px;
    height: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 123px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 396px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 116px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 763px;
}

.u-section-7 .u-line-1 {
  width: 650px;
  transform-origin: left center 0px;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 47px 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 266px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-image-1 {
  width: 215px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 266px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 15px;
}

.u-section-7 .u-image-2 {
  width: 228px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 343px;
}

.u-section-7 .u-container-layout-3 {
  padding: 11px 0;
}

.u-section-7 .u-image-3 {
  width: 571px;
  height: 310px;
  margin: 0 -6px 0 auto;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 610px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  margin: 39px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-7 .u-line-2 {
  width: 650px;
  transform-origin: right center 0px;
  margin: 73px auto 17px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 219px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 219px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-image-2 {
    left: -10px;
    right: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 283px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-image-3 {
    width: 465px;
    height: 253px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 503px;
    margin: 20px auto 0 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 434px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1585px;
  }

  .u-section-7 .u-line-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 503px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 578px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-7 .u-line-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 364px;
  }

  .u-section-7 .u-image-3 {
    width: 340px;
    height: 185px;
  }

  .u-section-7 .u-line-2 {
    width: 340px;
  }
} .u-section-8 {
  min-height: 318px;
}

.u-section-8 .u-sheet-1 {
  min-height: 626px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 626px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  margin: 55px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 37px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 626px;
}

.u-section-8 .u-container-layout-2 {
  padding: 9px 13px 0;
}

.u-section-8 .u-image-1 {
  width: 344px;
  height: 377px;
  margin: 0 9px 0 auto;
}

.u-section-8 .u-image-2 {
  width: 259px;
  height: 179px;
  margin: 0 auto 0 9px;
}

.u-section-8 .u-image-3 {
  width: 225px;
  height: 29px;
  margin: 32px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-8 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 516px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 66px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-8 .u-image-1 {
    width: 333px;
    height: 365px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 593px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 351px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 177px;
}

.u-section-9 .u-text-1 {
  width: 345px;
  font-weight: normal;
  margin: 38px auto 0;
}

.u-section-9 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-9 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-line-1 {
    width: 340px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 416px;
}

.u-section-10 .u-text-1 {
  margin: -2px 0 37px;
}