.u-section-1 .u-sheet-1 {
  min-height: 606px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 4px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 439px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  object-position: 50% 28.3%;
  height: 468px;
  width: 451px;
  margin: 0 auto -37px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 552px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  line-height: 0.8;
  margin: 0 174px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.6;
  margin: 47px 60px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 194px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 362px;
    background-position: 50% 28.3%;
  }

  .u-section-1 .u-image-1 {
    height: 469px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 455px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 74px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-1 .u-image-1 {
    height: 354px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 232px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 604px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-3 .u-line-1 {
  width: 912px;
  margin: 23px auto 0 97px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 1px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 501px;
}

.u-section-3 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-3 .u-image-1 {
  width: 160px;
  height: 39px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 211px;
  margin-bottom: 0;
  margin-top: 52px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 501px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-3 .u-image-3 {
  width: 215px;
  height: 50px;
  margin: 17px 0 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-4 {
  height: 212px;
  margin: 24px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 486px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 16px;
}

.u-section-3 .u-image-5 {
  width: 174px;
  height: 36px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: Georgia, serif;
  margin: 7px 10px 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-size: 1.4375rem;
  padding: 0;
}

.u-section-3 .u-image-6 {
  height: 211px;
  width: 334px;
  margin: 24px 14px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-3 .u-line-1 {
    margin-left: 28px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-3 .u-image-1 {
    width: 127px;
    height: 31px;
  }

  .u-section-3 .u-image-2 {
    height: 167px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-3 .u-image-4 {
    height: 170px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 401px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    height: 178px;
    width: 281px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 119px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    width: 197px;
    height: 46px;
  }

  .u-section-3 .u-image-4 {
    height: 124px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-6 {
    height: 132px;
    width: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 344px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    height: 212px;
  }

  .u-section-3 .u-image-4 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 153px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 341px;
  margin: 73px auto 0;
}

.u-section-4 .u-line-1 {
  width: 912px;
  margin: 0 auto 37px 88px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 626px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 7px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 295px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 565px;
  height: 302px;
  margin: 0 -287px -17px auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 295px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 274px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  object-position: 50% 0%;
  height: 252px;
  width: 285px;
  margin: 7px 0 0 auto;
}

.u-section-5 .u-image-3 {
  height: 250px;
  width: 278px;
  margin: -250px auto 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 543px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  width: 445px;
  margin: 33px auto 0;
}

.u-section-5 .u-text-2 {
  width: 445px;
  margin: 49px auto 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: none none solid;
  margin: 10px auto 0 63px;
  padding: 0;
}

.u-section-5 .u-image-4 {
  width: 260px;
  height: 102px;
  margin: 72px 10px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 243px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-1 {
    width: 228px;
    height: 122px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 243px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 226px;
    background-position: 50% 0%;
    background-size: 110%;
  }

  .u-section-5 .u-image-2 {
    height: 251px;
    margin-top: -300px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -249px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 448px;
    margin: 20px auto 0 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 346px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2321px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 558px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 578px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 364px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 538px;
}

.u-section-6 .u-line-1 {
  width: 652px;
  transform-origin: right center 0px;
  margin: 14px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 441px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: none none solid;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 441px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 502px;
  height: 242px;
  margin: 0 auto 0 8px;
}

.u-section-6 .u-image-2 {
  width: 273px;
  height: 199px;
  margin: 0 auto 0 8px;
}

.u-section-6 .u-image-3 {
  width: 221px;
  height: 199px;
  margin: -199px 48px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-6 .u-image-1 {
    width: 470px;
    height: 160px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: -186px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 174px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 85px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -240px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 419px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 164px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 92px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -247px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 743px;
}

.u-section-7 .u-line-1 {
  width: 650px;
  transform-origin: left center 0px;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 324px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 14px;
}

.u-section-7 .u-image-1 {
  height: 320px;
  margin: 0 0 -6px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 324px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 15px;
}

.u-section-7 .u-image-2 {
  width: 228px;
  height: 314px;
  margin: 3px 0 -3px auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 330px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-image-3 {
  width: 571px;
  height: 310px;
  margin: 0 -10px 0 auto;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 648px;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  margin: 68px 60px 0;
}

.u-section-7 .u-text-2 {
  margin: 17px 60px 0;
}

.u-section-7 .u-image-4 {
  width: 154px;
  height: 154px;
  margin: 55px 0 0 auto;
}

.u-section-7 .u-line-2 {
  width: 650px;
  transform-origin: right center 0px;
  margin: 37px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-7 .u-image-1 {
    height: 257px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 267px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-image-2 {
    width: 198px;
    height: 273px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 272px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-image-3 {
    width: 465px;
    height: 252px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 534px;
    margin: 20px auto 0 0;
  }

  .u-section-7 .u-text-1 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 10px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1571px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-7 .u-image-1 {
    height: 413px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 409px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 417px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1555px;
  }

  .u-section-7 .u-line-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 614px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 649px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 614px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 578px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-7 .u-line-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-7 .u-image-1 {
    height: 399px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 364px;
  }

  .u-section-7 .u-image-3 {
    width: 340px;
    height: 184px;
  }

  .u-section-7 .u-line-2 {
    width: 340px;
  }
} .u-section-8 {
  min-height: 318px;
}

.u-section-8 .u-sheet-1 {
  min-height: 461px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 461px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  margin: 55px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 37px 0 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: none none solid;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 461px;
}

.u-section-8 .u-container-layout-2 {
  padding: 1px 12px 0;
}

.u-section-8 .u-image-1 {
  width: 344px;
  height: 377px;
  margin: 0 10px 0 auto;
}

.u-section-8 .u-image-2 {
  width: 254px;
  height: 175px;
  margin: -116px auto 0 45px;
}

.u-section-8 .u-image-3 {
  width: 225px;
  height: 29px;
  margin: -29px 10px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-8 .u-btn-1 {
    width: 107px;
    height: 24px;
  }

  .u-section-8 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 380px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 66px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-8 .u-image-1 {
    width: 335px;
    height: 367px;
    margin-right: 0;
  }

  .u-section-8 .u-image-2 {
    margin-top: -106px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 351px;
  }

  .u-section-8 .u-image-2 {
    margin-top: -90px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 212px;
}

.u-section-9 .u-text-1 {
  width: 412px;
  font-weight: 700;
  margin: 101px auto 0;
}

.u-section-9 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px auto 38px;
}

@media (max-width: 991px) {
  .u-section-9 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-line-1 {
    width: 340px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 545px;
}

.u-section-10 .u-text-1 {
  margin: -2px 0 60px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}